.md-content img {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.md-typeset h1 {
    font-weight: 800;
    /* Extra bold */
}

.md-typeset h2 {
    font-weight: 800;
}

.md-typeset h3 {
    font-weight: 600;
}

.md-typeset h4 {
    font-weight: 600;
}

.md-typeset h5 {
    font-weight: 600;
}

