[submodule "src/HardwareDefinitions"]
	path = src/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions
[submodule "src/Disks"]
	path = src/Disks
	url = https://github.com/AzureSphereCloudEnabledAltair8800/AzureSphereAltair8800.disks.git
[submodule "src/uthash"]
	path = src/uthash
	url = https://github.com/troydhanson/uthash.git

[submodule "src/wsServer"]
	path = src/wsServer
	url = https://github.com/Theldus/wsServer.git
[submodule "src/Drivers/spidev-lib"]
	path = src/Drivers/spidev-lib
	url = https://github.com/milekium/spidev-lib.git
[submodule "src/EdgeMqttDevX"]
	path = src/EdgeMqttDevX
	url = https://github.com/Azure-Sphere-DevX/EdgeMqttDevX.git
