[submodule "AltairHL_emulator/DesktopDevX"]
	path = AltairHL_emulator/DesktopDevX
	url = https://github.com/Azure-Sphere-DevX/DesktopDevX.git
[submodule "AltairHL_emulator/HardwareDefinitions"]
	path = AltairHL_emulator/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions
[submodule "AltairHL_emulator/wolfMQTT"]
	path = AltairHL_emulator/wolfMQTT
	url = https://github.com/wolfSSL/wolfMQTT.git
[submodule "AltairHL_emulator/Disks"]
	path = AltairHL_emulator/Disks
	url = https://github.com/AzureSphereCloudEnabledAltair8800/AzureSphereAltair8800.disks.git
