[Unit]
Description=Altair Web Terminal daemon
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/altair/Terminal
ExecStart=/usr/bin/python3 -m http.server 8081
Restart=always


[Install]
WantedBy=multi-user.target

