[Unit]
Description=Altair 8800 Emulator
After=network.target

[Service]
Type=simple
ExecStart=/path/to/directory/src/build/Altair_emulator
WorkingDirectory=/path/to/directory/src


[Install]
WantedBy=multi-user.target
