[Unit]
Description=Altair 8800 Emulator
After=network.target

[Service]
Type=simple
ExecStart=/path/to/directory/AltairHL_emulator/build/Altair_emulator
WorkingDirectory=/path/to/directory/AltairHL_emulator


[Install]
WantedBy=multi-user.target
