html,
input[type=submit],
div.find a:active {
    background-color: #002f00;
    color: #e5b800;
}

a {
    background-color: #002f00;
    color: #e5b800;
}

a:hover {
    background-color: #002f00;
    color: #e5b800;
}

#docs {
    background-color: #002f00;
    border-width: thick;
    border: white;
    font-family: Courier New;
    font-size: 20px;
    padding: 1px 1px;
}

input[type=button] {
    background-color: black;
    border-color: #e5b800;;
    border-style: solid;
    border-width: thin;
    color: #e5b800;
    cursor: pointer;
    font-family: Courier New;
    font-size: 20px;
    padding: 1px 4px;
    margin: 2px;
}

input[type=text] {
    background-color: black;
    border-color: blue;
    border-style: solid;
    border-width: thin;
    color: #e5b800;
    font-family: Courier New;
    font-size: 20px;
    padding: 1px 1px;
    text-decoration: none;
}

/* https://css-tricks.com/old-timey-terminal-styling/ */

body {
    background-color: #002f00;
    color: #e5b800;
    font-family: Courier New;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    overflow: hidden;
    padding: 1rem;
}


#terminal {
    /* for 100 columns, 18px font, ~0.6em average character width */
    width: calc(100 * 18px * 0.6 + 4px); /* +4 for left/right borders */
    border: 2px solid #e5b800;
    box-sizing: border-box;
    padding: 0;
    margin: 0;        /* align terminal to the left */
}


/* pre {
    margin: 10;
  } */
